/* =========================================
   MOOLY - ESTILOS GENERALES
========================================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --azul: #078ce6;
    --azul-fuerte: #0076d4;
    --azul-claro: #eaf6ff;
    --azul-hover: #d9efff;

    --blanco: #ffffff;
    --crema: #fffdf4;

    --texto: #10182f;
    --texto-secundario: #63708a;

    --verde: #27ae60;
    --verde-claro: #dbf7e7;

    --borde: #e2e9f2;

    --fondo: #f5faff;

    --radio: 22px;
    --sombra: 0 10px 35px rgba(25, 80, 120, 0.08);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--fondo);
    color: var(--texto);
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: inherit;
    cursor: pointer;
}



/* =========================================
   LOGIN
========================================= */

.login-page {
    min-height: 100vh;
    background: linear-gradient(
        135deg,
        #0669b0,
        #68abde
    );

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 40px;
    
}

.login-container {
    width: 100%;
    max-width: 1450px;

    min-height: 760px;

    display: grid;
    grid-template-columns: 58% 42%;

    background: var(--blanco);

    border-radius: 32px;
    overflow: hidden;

    box-shadow: 0 30px 80px rgba(100, 3, 0, 0.25);
    border: 3px solid #79b1dc;
    border-radius: 32px;
}


/* =========================================
   LADO IZQUIERDO DEL LOGIN
========================================= */

.login-image {
    position: relative;

    background: linear-gradient(
        135deg,
        #079bf0,
        #067fd3
    );

    overflow: hidden;
}


.login-image-art {
    position: absolute;

    width: 700px;
    height: 650px;

    right: 15px;
    bottom: 0;

    background-image: url("img/login-mooly.png");
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.imagen-login {
    height: 770px;
    width: 880px;
}

.login-title {
    position: absolute;

    top: 90px;
    left: 90px;

    z-index: 2;

    max-width: 380px;

    color: var(--crema);
}

.login-title h1 {
    font-size: 56px;
    line-height: 1.05;

    margin-bottom: 25px;
}

.login-title p {
    font-size: 20px;
    line-height: 1.5;
}


/* =========================================
   FORMULARIO LOGIN
========================================= */

.login-form-area {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 60px;
}

.login-form {
    width: 100%;
    max-width: 460px;
}

.logo-text {
    text-align: center;

    font-size: 58px;
    font-weight: 900;

    color: var(--azul);

    margin-bottom: 5px;
}

.logo-subtitle {
    text-align: center;

    font-size: 30px;
    font-weight: 800;

    margin-bottom: 12px;
}

.login-description {
    text-align: center;
    color: var(--texto-secundario);

    margin-bottom: 40px;
}

.form-group {
    margin-bottom: 22px;
}

.form-group label {
    display: block;

    font-weight: 700;

    margin-bottom: 8px;
}

.form-group input {
    width: 100%;
    height: 56px;

    border: 1px solid #cdd7e4;
    border-radius: 12px;

    padding: 0 18px;

    font-size: 16px;

    outline: none;

    transition: 0.2s;
}

.form-group input:focus {
    border-color: var(--azul);
    box-shadow: 0 0 0 3px rgba(0, 145, 230, 0.12);
}

.login-button {
    width: 100%;
    height: 58px;

    border: none;
    border-radius: 14px;

    background: linear-gradient(
        90deg,
        #079bf0,
        #0788e5
    );

    color: white;

    font-size: 18px;
    font-weight: 700;

    transition: 0.2s;
}

.login-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 25px rgba(0, 140, 230, 0.25);
}

.login-options {
    display: flex;
    justify-content: space-between;

    margin-top: 20px;

    font-size: 14px;
}

.login-options a {
    color: var(--azul);
}

.register {
    text-align: center;

    margin-top: 45px;

    border-top: 1px solid var(--borde);

    padding-top: 30px;
}

.register a {
    color: var(--azul);
    font-weight: 700;
}


/* =========================================
   LAYOUT DEL DASHBOARD
========================================= */

.dashboard {
    display: flex;
    background-color:#131b35;
    min-height: 100vh;
    color: white;
}


/* =========================================
   SIDEBAR
========================================= */

.sidebar {
    width: 280px;

    min-height: 100vh;

    position: fixed;

    top: 0;
    left: 0;

    padding: 28px 16px;

    background: linear-gradient(
        180deg,
        rgb(1, 15, 31),
        rgb(1, 15, 31)
    );

    color: white;
}

.sidebar-logo {
    font-size: 46px;
    font-weight: 900;

    margin-bottom: 55px;

    padding-left: 25px;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.sidebar-menu a {
    min-height: 62px;

    display: flex;
    align-items: center;

    gap: 18px;

    padding: 0 25px;

    border-radius: 16px;

    font-size: 17px;

    transition: 0.2s;
}

.sidebar-menu a:hover {
    background: rgba(255, 255, 255, 0.13);
}

.sidebar-menu a.active {
    background: rgba(255, 255, 255, 0.21);
}

.menu-icon {
    width: 27px;

    font-size: 25px;
    text-align: center;
}


/* =========================================
   CONTENIDO
========================================= */

.main-content {
    margin-left: 280px;

    width: calc(100% - 280px);

    min-height: 100vh;

    padding-bottom: 60px;
}


/* =========================================
   TOPBAR
========================================= */

.topbar {
    height: 90px;

    background: rgb(1, 15, 31);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;

    border-bottom: 1px solid var(--borde);
}

.search {
    width: min(800px, 65%);
}

.search input {
    width: 100%;

    height: 52px;

    padding: 0 20px;

    border: none;
    outline: none;

    border-radius: 17px;

    background: #f0f6fb;

    color: var(--texto);

    font-size: 16px;
}

.profile {
    display: flex;
    align-items: center;

    gap: 14px;
}

.profile-avatar {
    width: 48px;
    height: 48px;

    border-radius: 50%;

    background: #dceeff;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--azul);

    font-weight: 800;
}

.profile-name {
    font-weight: 700;
}

.profile-role {
    color: var(--texto-secundario);

    font-size: 14px;
}


/* =========================================
   WRAPPER
========================================= */

.content-wrapper {
    padding: 22px 30px;
}


/* =========================================
   HERO
========================================= */

.hero {
    height: 285px;

    position: relative;

    overflow: hidden;

    display: flex;
    align-items:center;

    padding: 50px 55px;

    border-radius: 26px;

    background: linear-gradient(
        120deg,
        #0a88e8,
        #0c8ae9
    );

    color: var(--crema);

    margin-bottom: 28px;
}

.hero h1 {
    font-size: 58px;

    line-height: 1;

    margin-bottom: 12px;
}

.hero-description {
    font-size: 21px;

    margin-bottom: 5px;
}

.hero-small {
    font-size: 17px;

    opacity: 0.95;

    margin-bottom: 25px;
}

.hero-button {
    background: var(--crema);
    color: var(--texto);

    border: none;

    padding: 15px 30px;

    border-radius: 30px;

    font-size: 16px;

    font-weight: 700;
}



.imagen-estudiante{
    width: 680px;
    height: 330px;
    justify-content: end;
}


/* =========================================
   TITULOS DE SECCIONES
========================================= */

.section-title {
    font-size: 29px;

    margin-bottom: 18px;
}


/* =========================================
   GRID ESTUDIANTE
========================================= */

.student-grid {
    display: grid;
    grid-template-columns: 1.15fr 1fr;
    gap: 20px;

    align-items: start;
}

.card {
    color: white;
    background: #078fe8;

    border: 1px solid var(--borde);
    border-radius: var(--radio);

    padding: 25px;

    box-shadow: var(--sombra);
}

.card-historial {
    background: #078fe8;

    border: 1px solid var(--borde);
    border-radius: var(--radio);

    padding: 25px;

    box-shadow: var(--sombra);

    height: fit-content;
}

.card-consult {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 22px;
}

.card-header h2 {
    font-size: 24px;
}

.card-header a {
    color: var(--azul);

    font-weight: 700;

    font-size: 14px;
}


/* =========================================
   CURSOS
========================================= */


.course-name{
    font-size: larger;
}

.course-list {
    display: flex;
    flex-direction: column;

    gap: 12px;
}

.course {
    border: 1px solid var(--borde);
    background-color: rgb(14, 36, 70);
    color: rgb(204, 218, 231);

    border-radius: 16px;

    padding: 16px;

    display: grid;

    grid-template-columns: 70px 1fr 260px 60px;

    gap: 14px;

    align-items: center;
}

.course-icon {
    width: 60px;
    height: 60px;

    border-radius: 14px;

    background: var(--azul-claro);

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 26px;

    color: var(--azul);
}

.course-name {
    font-weight: 700;

    margin-bottom: 5px;
}

.course-lessons {
    color: var(--texto-secundario);

    font-size: 14px;
}

.progress {
    width: 100%;
    height: 10px;

    border-radius: 10px;

    background: #e6edf5;

    overflow: hidden;
}

.progress-bar {
    height: 100%;

    border-radius: 10px;

    background: var(--azul);
}


/* =========================================
   CALIFICACIONES
========================================= */

.grade-table {
    width: 100%;

    border-collapse: collapse;
}

.grade-table th,
.grade-table td {
    padding: 17px 12px;

    border-bottom: 1px solid var(--borde);

    text-align: left;
}

.grade-table th {
    color: var(--texto-secundario);

    font-size: 14px;
}

.grade {
    display: inline-flex;

    min-width: 70px;

    justify-content: center;

    padding: 7px 12px;

    border-radius: 20px;

    background: var(--verde-claro);

    color: #148347;

    font-weight: 800;
}


/* =========================================
   ADMIN - GESTION
========================================= */

.manage-title {
    display: flex;
    align-items: baseline;

    gap: 18px;

    margin-bottom: 14px;
}

.manage-title span {
    color: var(--texto-secundario);
}

.manage-grid {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 20px;

    margin-bottom: 30px;
}

.manage-card {
    min-height: 135px;

    display: flex;
    align-items: center;

    gap: 22px;

    padding: 25px;

    background: #81bce9;
    color: rgb(15, 43, 62);
    border: 2px solid var(--borde);
    border-color: white;

    border-radius: 20px;

    box-shadow: var(--sombra);
}


.manage-icon {
    width: 90px;
    height: 90px;

    border-radius: 18px;

    background: var(--azul-claro);

    display: flex;

    font-size: 40px;
}

.manage-info {
    flex: 1;
}

.manage-info h3 {
    font-size: 22px;

    margin-bottom: 7px;
}

.manage-info p {
    color: var(--texto-secundario);

    line-height: 1.4;
}

.manage-arrow {
    font-size: 32px;

    color: var(--azul);
}


/* =========================================
   ESTADISTICAS
========================================= */

.stats-section-header {
    display: flex;
    justify-content: space-between;

    margin-bottom: 16px;
}

.stats-grid {
    display: grid;

    grid-template-columns:
        repeat(3, minmax(250px, 10fr))
        minmax(400px, 2.2fr);

    gap: 14px;
}

.panel_admin{
    align-items: center;
    text-align: center;
}

.stat-card {
    min-height: 250px;

    background: rgb(237, 244, 247);
    color:#10182f;

    border: 2px solid var(--borde);
    border-color: white;

    border-radius: 18px;

    padding: 22px;

     box-shadow: 5px 5px 5px rgba(1, 11, 15, 0.478);
}

.stat-icon {
    width: 52px;
    height: 52px;

    background: var(--azul-claro);

    color: var(--azul);

    border-radius: 13px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 22px;

    margin-bottom: 18px;
}

.stat-label {
    color: var(--texto-secundario);

    margin-bottom: 7px;
}

.stat-number {
    font-size: 31px;

    font-weight: 800;

    margin-bottom: 10px;
}

.stat-growth {
    color: var(--verde);

    font-weight: 700;
}


/* =========================================
   GRAFICO SIMULADO
========================================= */

.chart-card {
    min-height: 210px;

    background: white;

    border: 1px solid var(--borde);

    border-radius: 18px;

    padding: 22px;

    box-shadow: var(--sombra);
}

.chart {
    height: 130px;

    margin-top: 18px;

    position: relative;

    border-left: 1px solid #dfe7ef;
    border-bottom: 1px solid #dfe7ef;

    overflow: hidden;
}

.chart-line {
    position: absolute;

    left: 0;
    right: 0;

    bottom: 20px;

    height: 80px;

    background:
        linear-gradient(
            165deg,
            transparent 0%,
            transparent 5%,
            rgba(0, 145, 230, 0.12) 5%,
            rgba(0, 145, 230, 0.12) 100%
        );

    clip-path: polygon(
        0 70%,
        12% 45%,
        25% 55%,
        38% 20%,
        50% 40%,
        62% 30%,
        75% 8%,
        88% 20%,
        100% 0,
        100% 100%,
        0 100%
    );
}

.chatbox-section {
    background: rgb(255, 255, 255);
    color: rgb(7, 31, 77);

    border-radius: 22px;

    padding: 30px;

    box-shadow: var(--sombra);
}

.chatbox-section h1 {
    font-size: 30px;

    margin-bottom: 8px;
}

.chatbox-section p {
    color: var(--texto-secundario);

    margin-bottom: 25px;
}

.chat-container {
    display: flex;
    flex-direction: column;

    height: 550px;

    border: 1px solid var(--borde);

    border-radius: 18px;

    overflow: hidden;
}

.chat-messages {
    flex: 1;

    padding: 25px;

    overflow-y: auto;

    background: #aec0e3;
}

.chat-input {
    display: flex;

    gap: 10px;

    padding: 15px;

    background: rgb(212, 212, 212);

    border-top: 1px solid var(--borde);
}

.chat-input input {
    flex: 1;

    height: 50px;

    border: 1px solid var(--borde);

    border-radius: 12px;

    padding: 0 15px;

    font-size: 16px;
}

.chat-input button {
    padding: 0 25px;

    border: none;

    border-radius: 12px;

    background: #078fe8;

    color: white;

    font-weight: bold;
}

/* =========================================
   RESPONSIVE
========================================= */

@media (max-width: 1200px) {

    .sidebar {
        width: 230px;
    }

    .main-content {
        margin-left: 230px;

        width: calc(100% - 230px);
    }

    .hero h1 {
        font-size: 45px;
    }

    .hero-image {
        width: 500px;
    }

    .student-grid {
        grid-template-columns: 1fr;
    }

    .stats-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .chart-card {
        grid-column: span 2;
    }
}

.chat-messages {
    flex: 1;
    padding: 25px;

    display: flex;
    flex-direction: column;

    gap: 15px;

    overflow-y: auto;
}

.mensaje {
    max-width: 70%;

    padding: 14px 18px;

    border-radius: 18px;

    line-height: 1.5;
}

.mensaje-usuario {
    align-self: flex-end;

    background: #078fe8;
    color: white;

    border-bottom-right-radius: 5px;
}

.mensaje-ia {
    align-self: flex-start;

    background: #eef5fa;
    color: #10182f;

    border-bottom-left-radius: 5px;
}


@media (max-width: 850px) {

    .sidebar {
        display: none;
    }

    .main-content {
        margin-left: 0;

        width: 100%;
    }

    .topbar {
        padding: 0 18px;
    }

    .content-wrapper {
        padding: 15px;
    }

    .hero {
        height: auto;

        min-height: 270px;

        padding: 35px;
    }

    .hero h1 {
        font-size: 38px;
    }

    .hero-image {
        opacity: 0.25;

        right: -150px;
    }

    .manage-grid {
        grid-template-columns: 1fr;
    }

    .stats-grid {
        grid-template-columns: 1fr;
    }

    .chart-card {
        grid-column: auto;
    }

    .login-container {
        grid-template-columns: 1fr;
    }

    .login-image {
        display: none;
    }
}